<div class="landing">
    <app-header></app-header>
    <div class="jumbotron baner"></div>  
    <div class="faqbg">
    <section class="section1 clearfix">
      <div class="textcenter">
        <div class="contacttitle">Contact Us</div>
      </div>
    </section>

    <section class="section2 clearfix">
        <div class="col2 column2 first ">
          <div class="verticleline"></div>
        <div class="sec2contactform">
    <div class="contact">General Inquiries</div>
          <form action="">
            <div class="clearfix">
              <input class="col2 first" type="text" placeholder="FirstName">
              <input class="col2 last" type="text" placeholder="LastName">
            </div>
            <div class="clearfix">
              <input  class="col2 first" type="Email" placeholder="Email">
              <input class="col2 last" type="text" placeholder="Contact Number">
            </div>
            <div class="clearfix">
              <textarea name="textarea" id="" cols="30" rows="7">Your message here...</textarea>
            </div>
            <div class="clearfix"><input type="button" value="Submit" class="btnsubmit"></div>
          </form>
        </div>

      </div>
      <div class="col2 column1 last">
        <div class="rightcontacttitle">Press Inquiries</div>
        <div class="contactimage"></div>
        <div class="rightconatct">We invite you to visit our newsroom where you will find more information on our company, brand guidelines and media assets.</div>
        <div class="clearfix"><input type="button" value="Go to Newsroom" class="btngoto"></div>
      </div>
    
    </section>
  </div>      
</div>
<app-main-footer></app-main-footer>