.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.example-full-width{
  width:100%
}
.example-form-field {
  width: 400px;
}
 .radioprivacy {
      display: block;
}
.example-radio-button {
  margin: 5px;
}
.firststepbutton {
  margin-top: 10px;
  margin-bottom: 10px;
}
.heading {
  margin-bottom:30px;
  text-align: center;
}
.socialBox {
  display: flex;
  justify-content: center;
}
.fb {
  text-align: center;
  width: 126px;
  height: 126px;
  left: 437px;
  margin: 10px;
  top: 330px;
  background-image: url("../../assets/logos/facebook.png ");
  background-repeat: no-repeat;
  background-position: center;

  background-color: #0b1800;
  border: 1px solid #4fb400;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.ig {
  text-align: center;
  width: 126px;
  height: 126px;
  margin: 10px;
  left: 437px;
  top: 330px;
  background-image: url("../../assets/logos/Instagram.png ");
  background-repeat: no-repeat;
  background-position: center;

  background-color: #0b1800;
  border: 1px solid #4fb400;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.yt {
  text-align: center;
  width: 126px;
  height: 126px;
  margin: 10px;
  left: 437px;
  top: 330px;
  background-image: url("../../assets/logos/youtube.png ");
  background-repeat: no-repeat;
  background-position: center;

  background-color: #0b1800;
  border: 1px solid #4fb400;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.tw {
  text-align: center;
  width: 126px;
  height: 126px;
  margin: 10px;
  left: 437px;
  top: 330px;
  background-image: url("../../assets/logos/twitch.png ");
  background-repeat: no-repeat;
  background-position: center;

  background-color: #0b1800;
  border: 1px solid #4fb400;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.zm {
  text-align: center;
  width: 126px;
  height: 126px;
  margin: 10px;
  left: 437px;
  top: 330px;
  background-image: url("../../assets/logos/zoom.png ");
  background-repeat: no-repeat;
  background-position: center;

  background-color: #0b1800;
  border: 1px solid #4fb400;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.platformButton {
  // margin:10px
}
.platformButton button {
  margin: 10px;
}
button{
  margin:3px;
}
.calendarEvent{
  margin:3px
}

.stepper-section{
      background-color: black;

}

// bckground black kr k dekhna ab OK