<div class="container">
    <div class="box row">
        <img src="../../assets/images/Rectangle60.png" alt="">
    </div>

    <h3 class="heading">Fequently Asked Question</h3>

    <div class="row" style="text-align: center;">
        <div class="col-md-4">
                <h6 class="heading">Ask a question</h6>

            <!-- <p> -->
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput  required placeholder="Type your name here">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            <!-- </p> -->
            <!-- <p> -->
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput  required placeholder="Type your name here">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            <!-- </p> -->
            <!-- <p> -->

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Question</mat-label>
                    <textarea matInput rows="3" cols="100" placeholder="Type you question here"></textarea>
                    <mat-hint>We will notify you by email when the answer to your has been posted.</mat-hint>
                </mat-form-field>
            <!-- </p> -->
            <div>
                <button mat-raised-button color="primary">Submit Question</button>
            </div>

        </div>
        <div class="col-md-8" style="margin-top:20px">
            <div *ngFor="let item of faqList">
                
                <div matBadge="?" matBadgeOverlap="false" style="color:green">{{item.question}}</div>
                <!-- <p> -->
                    
                    <!-- <mat-label >{{item.question}}</mat-label> -->
                    <mat-form-field cdkTextareaAutosize appearance="fill" color="primary" class="example-full-width">
                        <textarea disabled  matInput color="primary"rows="2" cols="100" placeholder="Type you question" [value]="item.answer"></textarea>
                    </mat-form-field>
                <!-- </p> -->

            </div>



        </div>
    </div>
</div>