.navbar{
        padding: 0px;
    background-color: black!important;
    color:grey;
    padding-right: 5px;
        border-bottom: 5px solid green;
    border-top: 6px solid green;
}
.navbar a{
    color:grey;
}
.navbar a:hover{
    color:white;
}
.navbar .dropdown-menu a{
    color:grey;
}
.navbar .dropdown-menu a:hover{
    color:white;
}
.becomehost{
    padding-right: 10px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
// .row::after {
//   content: "";
//   clear: both;
//   display: table;
// }