<div class="container footer-setup">
    <div class="row ">

        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" style="text-align: center;">
            <img class="" src="../../assets/logos/Frame.png" alt="">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <h6>Company</h6>
            <nav>
                <a routerLink="/dashboard">Create an event</a>
                <a routerLink="/about">About us</a>
                <a routerLink="/newsroom">News room</a>
            </nav>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <h6>Support</h6>
            <a routerLink="/artist">Artist</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/contact">Contact</a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <h6>Leagal</h6>
            <a routerLink="/terms">Terms & Conditions</a>
            <a routerLink="/privacy-policy">Privacy policy</a>
            <a routerLink="/donation-policy">Donation policy</a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 social-links">
            <h6>Follow Us</h6>
            <a href="www.facebook.com">
                <img class="" style="width:40px" src="../../assets/logos/icon-facebook.png" alt="">    
            </a>
            <a href="www.facebook.com">
                <img class="" src="../../assets/logos/youtube.png" alt="">    
            </a>
            <a href="www.facebook.com">
                <img class="" src="../../assets/logos/Instagram.png" alt="">    
            </a>
            
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <h6>Secure Payments</h6>
            <div class=" gfg">
                <img class="" src="../../assets/logos/Group103.png" alt="">
            </div>
        </div>
    </div>
</div>