.footer-setup{
    // margin-top:30px;
    padding-top:50px;
    padding-bottom:50px;
    background-color:black;
}
.footer-setup a{
    display:block;
    color:grey;
}
.footer-setup h6{
    color:white;
}
.footer-setup .social-links img{
    color:white;
    display: block;
    width:60px;
    height:30px
}
   .gfg { 
        width:auto; 
        text-align:center; 
        // padding:20px; 
    } 
    img { 
        max-width:100%; 
                height:auto; 
    } 