<footer class="footer">
    <div class="container">
        <div>
            <p style="color: #FFFFFF;font-size: 20px;">Sairyō</p>
        </div>
        <div class="row main-footer">
                <div class="footer-left">
                    <p><a>About Us</a></p>
                    <p><a>Contact</a></p>
                </div>
                <div class="footer-right">
                    <p>Legal</p>
                    <p>|</p>
                    <p>© 2020 Sairyō | All rights reserved.</p>
            </div>            
        </div>
    </div>    
</footer>
