<footer class="footer">
  <div class="container">

    <div class="row main-footer align-items-center">
      <div class="col-md-6">
        <div class="footer-left">
         
          <ul class="footercntnt">
              <li> <p style="color: #FFFFFF;font-size: 20px;">Sairyō</p></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
         
        </div>
      </div>

      <div class="col-md-6">
        <div class="footer-right footercntnt">
            <ul>
                <li><a href="#">Legal</a></li>
                <li> <p class="copyright"> © 2020 Sairyō | All rights reserved.</p></li>
            </ul>
         
        
         
        </div>
      </div>

    </div>
  </div>
</footer>
