<div class="landing">
<app-header></app-header>
<div class="jumbotron baner"></div>  
<div class="container-fluid eventbg">    
    <div class="row">
      <div class="col-sm-2">
             </div>
      <div class="col-sm-8"> 
        <div class="groupthree"></div>
        <div class="linethree"></div>
        <div class="groupfour"></div>
        <div class="linefour"></div>
        <div class="groupfive"></div>
        <div class="eventtitle">Let’s Create Your Online Event!</div>
      </div>
      <div class="col-sm-2"> 
      
    </div>
    </div>
</div>  

<div class="container-fluid eventbg">
    <div class="row">
      <div class="col-sm-4" style="text-align:center">
       <div class="eventlefttitle">Our Content</div>
   <input type="text" class="eventtextbox">
       <div class="eventdescriptiontitle">Event Description</div>
       <input type="text" class="eventdescriptiontextbox">
       <div class="eventleftdecriptionsubtitle">Characters Remaining 300</div>
       <div class="eventpublic">Is your event public or private?</div>
       <input type="button" value="Public" class="btnpublic">
  <div class="uploadtext">Upload Your Event Cover Picture</div>
  <input type="button" value="Upload event image" class="btnupload">

      </div>
      <div class="col-sm-8">
        <div class="eventrighttitle">Event Date</div>
        <img src="../../../assets/images/calender.png">
    </div>
    </div>
  </div>  
</div>
<app-main-footer></app-main-footer>