

     <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                       <img class="footerlogo" src="../../../assets/images/footer.svg">
                </div>
                <div class="col-sm-2">
                    <div class="menutitle">Company</div>
                    <div class="menutitlelink">Create an event</div>
                    <div class="menutitlelink">About us</div>
                    <div class="menutitlelink">Newsroom</div>
                </div>
                <div class="col-sm-2">
                    <div class="menutitle">Support</div>
                    <div class="menutitlelink">Create an event</div>
                    <div class="menutitlelink">About us</div>
                    <div class="menutitlelink">Newsroom</div>
                </div>
                <div class="col-sm-2">
                   
                        <div class="menutitle">Legal</div>
                        <div class="menutitlelink">Create an event</div>
                        <div class="menutitlelink">About us</div>
                        <div class="menutitlelink">Newsroom</div>
       
                </div>
                <div class="col-sm-2">
                    <div class="followmenus">
                        <div class="followstitle">Follow us</div>
                        <div class="followsicon fb">
                            <img class="icon" src="../../../assets/images/fbicon.svg">
                        </div>
                        <div class="followsicon youtube">
                         <img class="icon" src="../../../assets/images/yutubeicon.svg">
                     </div>
                     <div class="followsicon instagram">
                         <img class="icon" src="../../../assets/images/instagramicon.svg">
                     </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="scureicon">
                        <div class="securetitel">Secure payments  </div>
                        <img src="../../../assets/images/strip.svg">
                    </div>
                    <div class="copyright">
                        <p>© 2016 Copyright Text </p>
                    </div>
                </div>
               
            </div>
        </div>
     
    </footer>