<div class="container">
    <div class="box row">
        <img src="../../assets/images/Rectangle 61.png" alt="">
    </div>


    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <h3 class="heading">About US</h3>
            <p>
                Sairyō re-defines online experiences. The platform financially supports artists and COVID-19 vaccine
                research through
                artist livestreams.
            </p>
            <p>
                We know that 2020 has been difficult start. Sairyō was created as an innovative new way to stream live
                talent and get
                paid as if you were in a live ‘gig’. We cater to a wide variety of artists. Anyone from musicians, DJs,
                dancers,
                comedians to at-home artists (Tik Tok) and more. Anyone is an artist and has something to provide via
                livestream.
            </p>
            <p>
                Join today to #restart your 2020!

            </p>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <img src="../../assets/images/Rectangle 83.png" alt="Snow" style="width:100%">
        </div>
        <div class="column">
            <img src="../../assets/images/Rectangle 85.png" alt="Forest" style="width:100%">
        </div>
        <div class="column">
            <img src="../../assets/images/Rectangle 84.png" alt="Mountains" style="width:100%">
        </div>
        <div class="col-sm-4">
            <button routerLink="/dashboard" mat-raised-button color="primary">Creat an Event</button>            
        </div>
        <div class="col-sm-4">
            <button routerLink="/eventlist" mat-raised-button color="primary">Browse an Event</button>
        </div>
        <div class="col-sm-4">
            <button  mat-raised-button color="primary">Donate to Covid-19</button>
        </div>
    </div>

</div>