<div class="container-fluid footer-setup">
    <div class="row ">

        <div class="footer-section col-md-2 col-sm-2 col-3 col-lg-2" style="text-align: center;">
            <img class="" src="../../assets/logos/Frame.png" alt="">
        </div>
        <div class="footer-section col-md-2 col-sm-2 col-3 col-lg-2">
            <h6>Company</h6>
            <nav>
                <a routerLink="/dashboard">Create an event</a>
                <a routerLink="/about">About us</a>
                <a routerLink="/newsroom">News room</a>
            </nav>
        </div>
        <div class="footer-section col-md-2 col-sm-2 col-3 col-lg-2">
            <h6>Support</h6>
            <a routerLink="/artist">Artist</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/contact">Contact</a>
        </div>
        <div class="footer-section col-md-2 col-sm-2 col-3 col-lg-2">
            <h6>Leagal</h6>
            <a routerLink="/terms">Terms & Conditions</a>
            <a routerLink="/privacy-policy">Privacy policy</a>
            <a routerLink="/donation-policy">Donation policy</a>
        </div>
        <div class="footer-section col-md-2 col-sm-2 col-3 col-lg-2 ">
            <h6>Follow Us</h6>
            <div class="social-links">
                <a href="www.facebook.com">
                    <img class="" src="../../assets/social_images/Facebook.svg" alt="">
                </a>
                <a href="www.facebook.com">
                    <img class="" src="../../assets/social_images/Youtube.svg" alt="">
                </a>
                <a href="www.facebook.com">
                    <img class="" src="../../assets/social_images/Instagram.svg" alt="">
                </a>
            </div>

        </div>
        <div class="footer-section col-md-2 col-sm-2 col-3 col-lg-2">
            <h6>Secure Payments</h6>
            <div class=" gfg stripe-pay">
                <!-- <img class="" src="../../assets/logos/Group103.png" alt=""> -->
                <button>powered by <b >stripe</b></button>
            </div>
        </div>
    </div>
</div>