<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../../assets/images/Sairyo_logo/High-Resolution PNG/Final.png">
            </div>
            <div class="col">
                <p>Company</p>
                <div class="footer-links">
                    <a [routerLink]="['/addevents']" routerLinkActive="router-link-active">Create an event</a>
                    <a [routerLink]="['/aboutus']" routerLinkActive="router-link-active">About Us</a>
                    <a [routerLink]="['/aboutnewsroom']" routerLinkActive="router-link-active">Newsroom</a>    
                </div>
            </div>
            <div class="col">
                <p>Support</p>
                <div class="footer-links">
                    <a>Artist</a>
                    <a [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</a>
                    <a [routerLink]="['/contactus']" routerLinkActive="router-link-active">Contact</a>
                </div>
            </div>
            <div class="col">
                <p>Legal</p>
                <div class="footer-links">
                    <a [routerLink]="['/terms']" routerLinkActive="router-link-active">Terms & Conditions</a>
                    <a [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active">Privacy Policy</a>
                    <a [routerLink]="['/donation-policy']" routerLinkActive="router-link-active">Donation Policy</a>
                </div>
            </div>
            <div class="col social">
                <p>Follow us</p>
                <div class="social-links">
                    <a class="fab fa-facebook-f"></a>
                    <a class="fab fa-youtube-play"></a>
                    <a class="fab fa-instagram"></a>
                </div>
            </div>
            <div class="col stripe-pay">
                <p>Secure Payments</p>
                <button>powered by <b style="font-size: 16px;">stripe</b></button>
            </div>
        </div>
        <div class="row copy-right">
            <div class="col">
                <p>© 2020 Sairyō | All rights reserved.</p>
            </div>            
        </div>
    </div>
</footer>