.footer-setup {
  // margin-top:30px;
//   padding-top: 50px;
  padding-bottom: 50px;
  background-color: #151414;
}
.footer-setup a {
  display: block;
  color: grey;
}
.footer-setup h6 {
  color: white;
}
.footer-setup .social-links {
  color: white;
  display: flex;
  // width:60px;
  height: 30px;
}
.footer-setup .social-links img {
  height: 30px;
  padding: 3px;
}
.footer-setup .row .footer-section {
    padding-top: 25px;
}

.stripe-pay {
  p {
    margin-top: 30px;
    margin-bottom: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.01px;
    color: #989898;
  }

  button {
    background: #32364e;
    padding: 6px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.1vw;
  }
  button b{
    font-size: 1.5vw;
  }
}
img {
  max-width: 100%;
  height: auto;
}
