<div class="container">
  

    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <h3 class="heading">TERMS OF USE</h3>
            <p>
            Sairyō makes available to you this website located at www.sairyōevents.com (the “Website”) subject to your acceptance of
            and compliance with these website terms of use (the “Terms of Use”). BY ACCESSING, BROWSING, AND/OR USING THIS WEBSITE
            YOU ARE ACKNOWLEDGING THAT YOU HAVE READ AND UNDERSTOOD THESE TERMS OF USE AND OUR PRIVACY POLICY AND THAT YOU AGREE TO
            BE BOUND BY ITS TERMS AND CONDITIONS. IF YOU CANNOT OR DO NOT AGREE WITH THESE TERMS OF USE OR OUR PRIVACY TERMS OF USE
            THEN DO NOT ACCESS OR USE THIS WEBSITE.
            Sairyō reserves the right, in its sole discretion, to update, revise, supplement, and modify these Terms of Use as well
            as to impose new or additional terms and conditions to these Terms of Use at any time. We will notify you of any changes
            to these Terms of Use by posting any revised draft on our Website. Your continued access or use of the Website after
            such modifications have been posted shall indicate your acceptance of and agreement to be bound by these Terms of Use as
            modified. It is your responsibility to review regularly these Terms of Use.
            Sairyō does not intentionally market its services to minors. If you are under 18, you will need to obtain your parent or
            guardian’s permission before you send any personal information to Sairyō over the Internet. Parent or guardian
            participation, understanding of their children’s online usage, and awareness of the activities in which they are
            participating, are strongly encouraged.
            </p>
            <h6> 1. YOUR DONATIONS</h6>
            <p>
            Donations made through www.sairyoevents.com are legally made to Sairyō on the condition that it is then sent to the
            World Health Organization (WHO). Sairyō uses all reasonable and best efforts to honour all donors’ wishes and
            instructions in disbursing their donation to the World Health Organization.
            Sairyō transfers the donated amount (minus its payment processing fee described below) to the registered charity(ies)
            selected by the donor (unless the donation is intended by you to be to Sairyō alone, in which case and the gift is
            retained by Sairyō in its entirety). In some cases, you may be able to direct your donation to a group of charities
            (“Community and/or Cause Funds”), which may be grouped by identifying categories (such as cause, geographic location or
            curator). Sairyō may choose to offer, modify, or stop offering Community and/or Cause Funds at any time. Additional
            terms may apply to any donations may through Sairyō’s Website, including to Community and/or Cause Funds.
            A copy of our full Donation Delivery and Refund Policy may be found here.
            </p>
            <h6> 2. CONDITIONS OF USE</h6>
            <p>
            Except as may be expressly authorized by Sairyō, any reproduction, modification or distribution of the Website materials
            or content, in whole or in part, is strictly prohibited. Notwithstanding the foregoing Sairyō hereby grants to you a
            limited, non-transferrable license to view, download, and retain copies of this Website and materials published by
            Sairyō on this Website for your personal, non-commercial use only, provided you do not remove or alter any copyright or
            other proprietary notices. You also agree that you will not use any part of this Website in such a way that suggests any
            type of relationship between Sairyō and you or any entity related to you, unless you have received prior consent from
            Sairyō.
            Except to the extent permitted by copyright law, no copying or use of the material from this Website is permitted except
            in accordance with these Terms of Use, the Sairyō Client Services Agreement or the expressed permission of Sairyō.
            Sairyō reserves the right to modify, change, discontinue or suspend the Website (and any services offered through the
            Website) in whole or in part, at any time, without prior notice to you. Sairyō or any of its respective employees,
            agents, officers, directors or third-party service providers (collectively, “Sairyō and Sairyō Service Providers”) shall
            not be liable to you or any third party should Sairyō exercise this right.
            You represent and warrant that any information or materials you provide to Sairyō or post on its Website is accurate,
            truthful, not misleading, not confidential property of third parties, does not violate third party rights, and is
            offered in good faith. This includes, but is not limited to, information provided as part of any registration, to gain
            access to, or for use of any service offered on the Website. In addition you agree not to use the Website in connection
            with any of the following activities: a) sending and relaying spam, impersonating another person or entity, falsely
            misrepresenting your identity or your affiliations; b) for illegal or fraudulent purposes; c) for transmitting or
            distributing any objectionable material that is illegal, harassing, defamatory, tortuous, sexually explicit, obscene,
            hateful, or racist; or d) for transmitting material that contain computer programs including but not limited to viruses,
            Trojan horses, worms, time bombs, and cancel bots, which are designed to disrupt, destroy, harm, or damage the operation
            of the Website or computer. Sairyō reserves the right at any time, in its discretion, to remove any content or material
            provided or posted by you including, but not limited to, materials Sairyō deems to be in violation of these Terms of Use
            or the Sairyō Client Services Agreement.
            </p>
            <h6> 3. YOUR CONTENT AND CONDUCT</h6>
            <p>
            Hosting an Event
            If you have a Sairyō host account, you may be able to host online events on our website. You may use your content to
            promote your business or artistic enterprise. If you choose to host an event, you must not display content that does not
            comply with this Agreement (including the Sairyō Community Guidelines) or the law. For example, the content you submit
            must not include third-party intellectual property (such as copyrighted material) unless you have permission from that
            party or are otherwise legally entitled to do so. You are legally responsible for the content you promote on Sairyō. We
            may use automated systems that analyze your content to help detect infringement and abuse, such as spam, malware, and
            illegal content.
            </p>
            <p>
            Rights you Grant
            
            You retain ownership rights of events you hold and content you create. However, we do require you to grant certain
            rights to Sairyō and other users of the Service, as described below.
            </p>
            <p>
            License to Sairyō
            
            By hosting events on our platform, you grant to Sairyō a worldwide, non-exclusive, royalty-free, sublicensable and
            transferable license to use that Content (including to reproduce, distribute, prepare derivative works, display and
            perform it) in connection with the Service and Sairyō’s (and its successors' and Affiliates') business, including for
            the purpose of promoting and redistributing part or all of the Service.
            </p>
            <p>
            License to Other Users
            You also grant each other user of the Service a worldwide, non-exclusive, royalty-free license to access your Content
            through the Service, and to use that Content, including to reproduce, distribute, prepare derivative works, display, and
            perform it, only as enabled by a feature of the Service (such as video playback or embeds). For clarity, this license
            does not grant any rights or permissions for a user to make use of your Content independent of the Service.
            </p>
            <p>
            Duration of License
            The licenses granted by you continue for a commercially reasonable period of time after you remove or delete your
            Content from the Service. You understand and agree, however, that Sairyō may retain, but not display, distribute, or
            perform, server copies of your videos that have been removed or deleted.
            </p>
            <p>
            Removing Your Content
            You may remove your profile and content from Sairyō at any time. You must remove your content if you no longer have the
            rights required by these terms.
            </p>
            <p>
            Removal of Content by Sairyō
            
            If we reasonably believe that any content is in breach of this Agreement or may cause harm to Sairyō, our users, or
            third parties, we may remove or take down that content in our discretion. We will notify you with the reason for our
            action unless we reasonably believe that to do so: (a) would breach the law or the direction of a legal enforcement
            authority or would otherwise risk legal liability for Sairyō or our Affiliates; (b) would compromise an investigation or
            the integrity or operation of Sairyō; or (c) would cause harm to any user, other third party, Sairyō or our Affiliates.
            </p>
            <h6> 4. COOKIES</h6>
            <p>
            Sairyō employs the use of cookies. By accessing sairyoevents.com, you agree to use cookies in
            agreement with the Sairyō’s Privacy Policy.
            
            Most interactive websites use cookies to retrieve the user’s details for each visit. Cookies are
            used to enable the functionality of certain areas and make it easier for people visiting the Website. Some of Sairyō’s
            affiliate/advertising partners may also use cookies.
            </p>
            <h6> 5. MONITORING INFORMATION</h6>
            <p>
            Sairyō makes reasonable efforts to ensure that the information provided through the Website is current and accurate.
            Sairyō makes no representations or warranties as to the accuracy, reliability, completeness or timeliness of such
            information.
            </p>
            <h6> 6. OWNERSHIP OF INTELLECTUAL PROPERTY</h6>
            <p>
            Sairyō and its licensors own all rights, title and interest in the Website and you acquire no interest therein. The
            materials provided on the Website including, without limitation, all content, site design, text, graphics and the
            selection and arrangement thereof are protected by copyright. All rights are reserved. Any unauthorized use or any
            reproduction, modification or distribution of the materials is strictly prohibited. Nothing in these Terms of Use shall
            grant you any rights in or to the intellectual property or proprietary rights of Sairyō or any third party. By providing
            or posting this material onto Sairyō’ website you hereby grant to Sairyō a nonexclusive, royalty free, perpetual, and
            irrevocable license which allows Sairyō the right to use, edit, modify, adapt, reproduce, publish, distribute and
            display such material. You also hereby waive all moral rights you may have in such material. You represent and warrant
            that you own all rights to the material you post on our Website and therefore have the authority to grant such a
            license. Nothing on the Website shall be construed as granting, either expressly, by implication, by estoppel or
            otherwise, a licence or other right to you to use any trademarks or tradenames of Sairyō. The names of other companies,
            products or services referred to on the Website may be trademarks or tradenames of their respective owners. Any
            unauthorized use of the trademarks or tradenames of Sairyō or of third parties is strictly prohibited.
            </p>
            <h6> 7. LINKS</h6>
            <p>
            Certain links on this Website lead to other websites (“Linked Sites”), which are owned and operated by independent
            parties over whom Sairyō has no control. Use of any Linked Site is entirely at your own risk. Sairyō makes no
            representations or warranties as to the accuracy or any other aspect of the information contained on the Linked Sites,
            including the goods or services sold or made available. Sairyō therefore disclaims all liability and responsibility for
            the availability of information, content, accuracy, products, or services found on Linked Sites. The existence of a link
            from the Website to any third-party site does not constitute an endorsement by Sairyō of the Linked Site or any goods,
            services or information provided through such Linked Sites.
            While Sairyō encourages links to the Website, we do not wish to be linked to or from any third-party web site which may
            be damaging or detrimental to the activities, operations, credibility or integrity of Sairyō. Sairyō reserves the right
            to prohibit or refuse to accept any link to the Web site which contains or makes available any content or information
            that includes, without limitation, unlawful, threatening, abusive, racist, libellous, defamatory, obscene, vulgar,
            violent, pornographic, profane or indecent information of any kind. You agree to remove any link you may have to the
            Website upon the request of Sairyō.
            You may not use the Website in any manner which could damage, disable, overburden, or impair the Website or interfere
            with any other party’s use or enjoyment of the Website.
            </p>
            <h6> 8. COMPLIANCE WITH LAWS</h6>
            <p>
            In addition to complying with these Terms of Use, you agree to use the Website and services available on or through the
            Website for lawful purposes only and in a manner consistent with local, national or international laws and regulations.
            </p>
            <h6> 9. DISCLAIMERS, LIMITATIONS OF LIABILITY AND INDEMNIFICATION</h6>
            <p>
            YOU UNDERSTAND AND AGREE THAT: USE OF THE WEBSITE IS AT YOUR SOLE RISK. THE WEBSITE IS PROVIDED ON AN “AS IS”, “AS
            AVAILABLE” BASIS. SAIRYŌ DOES NOT PROVIDE ANY WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES
            REGARDING MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. SAIRYŌ DOES NOT WARRANT THAT USE OF THE WEBSITE WILL BE
            UNINTERRUPTED OR ERROR FREE; NOR DO WE MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE
            WEBSITE OR AS TO THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION AVAILABLE ON OR THROUGH THE WEBSITE. THE
            DOWNLOADING OF MATERIAL FROM THE WEBSITE IS DONE AT YOUR OWN RISK. SAIRYŌ DOES NOT GUARANTEE OR WARRANT THAT SUCH
            MATERIALS ARE FREE OF VIRUSES, WORMS, TROJAN HORSES OR OTHER DESTRUCTIVE CODE. YOU ARE RESPONSIBLE FOR IMPLEMENTING
            SAFEGUARDS TO PROTECT YOUR COMPUTER SYSTEM AND DATA AND YOU ARE RESPONSIBLE FOR THE ENTIRE COST OF ANY SERVICE, REPAIRS
            OR CORRECTIONS NECESSARY AS A RESULT OF THE USE OF THE WEBSITE. YOU SHOULD NOT RELY ON ANY OPINION OR OTHER INFORMATION
            SET OUT IN THE WEBSITE WHEN MAKING BUSINESS, FINANCIAL, PERSONAL OR OTHER DECISIONS. SAIRYŌ AND SAIRYŌ SERVICE PROVIDERS
            DO NOT ENDORSE THE OPINIONS OF ANY THIRD PARTY EXPRESSED ON THE WEBSITE OR ANY SITE ACCESSIBLE THROUGH THE WEBSITE.
            Limitations of Liability. TO THE EXTENT PERMITTED BY LAW, IN NO EVENT SHALL SAIRYŌ ITS SERVICE PROVIDERS, SUBSIDIARIES,
            AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, ATTORNEYS, AND AGENTS BE LIABLE FOR ANY: (i) INDIRECT, CONSEQUENTIAL,
            INCIDENTAL, SPECIAL, COMPENSATORY OR PUNITIVE DAMAGES; (ii) DAMAGES FOR LOSS OF INCOME, LOSS OF BUSINESS PROFITS,
            BUSINESS INTERRUPTION, LOSS OF DATA OR BUSINESS INFORMATION, LOSS OF OR DAMAGE TO PROPERTY; (iii) CLAIMS OF THIRD
            PARTIES; OR (iv) OTHER PECUNIARY LOSS, ARISING OUT OF OR RELATED TO THIS POLICY, THE WEBSITE OR ANY LINKED SITE. IN NO
            EVENT WILL THE CUMULATIVE LIABILITY OF SAIRYŌ, ITS SERVICE PROVIDERS, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS,
            EMPLOYEES, ATTORNEYS, AND AGENTS ARISING OUT OF OR RELATED TO THIS POLICY EXCEED CDN $100. TO THE EXTENT THAT SOME
            JURISDICTIONS DO NOT ALLOW EXCLUSIONS OR LIMITATIONS ON SOME CATEGORIES OF DAMAGES, THESE EXCLUSIONS OR LIMITATIONS MAY
            NOT APPLY TO YOU.
            Scope of Limitations and Disclaimers. THE DISCLAIMER OF WARRANTIES AND LIMITATIONS OF LIABILITY SET OUT IN THESE TERMS
            OF USE SHALL APPLY REGARDLESS OF THE CAUSES, CIRCUMSTANCES OR FORM OF ACTION GIVING RISE TO THE LOSS, DAMAGE, CLAIM OR
            LIABILITY, EVEN IF SUCH LOSS, DAMAGE, CLAIM OR LIABILITY IS BASED UPON BREACH OF CONTRACT (INCLUDING, WITHOUT
            LIMITATION, A CLAIM OF FUNDAMENTAL BREACH OR BREACH OF A FUNDAMENTAL TERM), TORT (INCLUDING, WITHOUT LIMITATION,
            NEGLIGENCE), STRICT LIABILITY OR ANY OTHER LEGAL OR EQUITABLE THEORY, AND EVEN IF SAIRYŌ, ITS SERVICE PROVIDERS,
            SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, ATTORNEYS, AND AGENTS ARE ADVISED OF THE POSSIBILITY OF THE
            LOSS, DAMAGE, CLAIM OR LIABILITY.
            Indemnity. YOU AGREE TO INDEMNIFY AND HOLD HARMLESS SAIRYŌ AND ITS SERVICE PROVIDERS, SUBSIDIARIES, AFFILIATES,
            OFFICERS, DIRECTORS, EMPLOYEES, ATTORNEYS, AND AGENTS FROM AND AGAINST ANY AND ALL CLAIMS, LIABILITIES, DAMAGES,
            DEMANDS, LOSSES OR EXPENSES (INCLUDING ALL LEGAL FEES) BROUGHT BY YOU OR ANY THIRD PARTY ARISING OUT OF YOUR USE OF THIS
            SITE IN BREACH OF THIS OR ANY OF SAIRYŌ POLICIES OR THE INFRINGEMENT BY YOU OF ANY INTELLECTUAL PROPERTY RIGHTS OF ANY
            PERSON OR ENTITY.
            </p>
            <h6> 10. SEVERABILITY</h6>
            <p>
            If in any jurisdiction any part of these Terms of Use is held, by a court of competent jurisdiction, to be invalid or
            unenforceable, such part of these Terms of Use shall be restricted or eliminated to the minimum extent necessary with
            respect to that jurisdiction, and the remaining Terms of Use shall otherwise remain in full force and effect. If such
            invalid or unenforceable provision may be modified to become valid and enforceable, such provision will be deemed to be
            modified so as to be valid and enforceable to the greatest extent allowed by law.
            </p>
            <h6> 11. GENERAL</h6>
            <p>
            These Terms of Use, together with the Sairyō Privacy Policy and all other notices, policies and disclaimers contained on
            the Website (as the same may be amended by Sairyō from time to time) constitute the entire agreement between Sairyō and
            you in relation to the subject thereof. These Terms of Use, together with the Sairyō Privacy Policy supersede anything
            in the Website inconsistent with them. No delay or failure to exercise any right or any non-compliance by you, the user,
            with respect to the terms of these Terms of Use shall be construed as a waiver by Sairyō. No waiver of any of these
            Terms of Use shall be deemed a further or continuing waiver of such term or condition or any other term or condition.
            </p>
            <h6> 12. JURISDICTION</h6>
            <p>
            The laws of the Province of Ontario and any applicable federal laws of Canada shall govern your use of the Website. The
            courts of the Province of Ontario shall have exclusive jurisdiction over any dispute arising out of your use of this
            Website.</p>
        </div>
    </div>


</div>