<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
            <h3 class="heading">Donation Policy</h3>
            <p>
                Sairyō makes available to you this website located at www.sairyōevents.com (the “Website”) subject to
                your acceptance of
                and compliance with these website terms of use (the “Terms of Use”). BY ACCESSING, BROWSING, AND/OR
                USING THIS WEBSITE
                YOU ARE ACKNOWLEDGING THAT YOU HAVE READ AND UNDERSTOOD THESE TERMS OF USE AND OUR PRIVACY POLICY AND
                THAT YOU AGREE TO
                BE BOUND BY ITS TERMS AND CONDITIONS. IF YOU CANNOT OR DO NOT AGREE WITH THESE TERMS OF USE OR OUR
                PRIVACY TERMS OF USE
                THEN DO NOT ACCESS OR USE THIS WEBSITE.
                Sairyō reserves the right, in its sole discretion, to update, revise, supplement, and modify these Terms
                of Use as well
                as to impose new or additional terms and conditions to these Terms of Use at any time. We will notify
                you of any changes
                to these Terms of Use by posting any revised draft on our Website. Your continued access or use of the
                Website after
                such modifications have been posted shall indicate your acceptance of and agreement to be bound by these
                Terms of Use as
                modified. It is your responsibility to review regularly these Terms of Use.
                Sairyō does not intentionally market its services to minors. If you are under 18, you will need to
                obtain your parent or
                guardian’s permission before you send any personal information to Sairyō over the Internet. Parent or
                guardian
                participation, understanding of their children’s online usage, and awareness of the activities in which
                they are
                participating, are strongly encouraged.
            </p>
            <h6> 1. YOUR DONATIONS</h6>
            <p>
                Donations made through www.sairyoevents.com are legally made to Sairyō on the condition that it is then
                sent to the
                World Health Organization (WHO). Sairyō uses all reasonable and best efforts to honour all donors’
                wishes and
                instructions in disbursing their donation to the World Health Organization.
                Sairyō transfers the donated amount (minus its payment processing fee described below) to the registered
                charity(ies)
                selected by the donor (unless the donation is intended by you to be to Sairyō alone, in which case and
                the gift is
                retained by Sairyō in its entirety). In some cases, you may be able to direct your donation to a group
                of charities
                (“Community and/or Cause Funds”), which may be grouped by identifying categories (such as cause,
                geographic location or
                curator). Sairyō may choose to offer, modify, or stop offering Community and/or Cause Funds at any time.
                Additional
                terms may apply to any donations may through Sairyō’s Website, including to Community and/or Cause
                Funds.
                A copy of our full Donation Delivery and Refund Policy may be found here.
            </p>
            <h6> 2. CONDITIONS OF USE</h6>
            <p>
                Except as may be expressly authorized by Sairyō, any reproduction, modification or distribution of the
                Website materials
                or content, in whole or in part, is strictly prohibited. Notwithstanding the foregoing Sairyō hereby
                grants to you a
                limited, non-transferrable license to view, download, and retain copies of this Website and materials
                published by
                Sairyō on this Website for your personal, non-commercial use only, provided you do not remove or alter
                any copyright or
                other proprietary notices. You also agree that you will not use any part of this Website in such a way
                that suggests any
                type of relationship between Sairyō and you or any entity related to you, unless you have received prior
                consent from
                Sairyō.
                Except to the extent permitted by copyright law, no copying or use of the material from this Website is
                permitted except
                in accordance with these Terms of Use, the Sairyō Client Services Agreement or the expressed permission
                of Sairyō.
                Sairyō reserves the right to modify, change, discontinue or suspend the Website (and any services
                offered through the
                Website) in whole or in part, at any time, without prior notice to you. Sairyō or any of its respective
                employees,
                agents, officers, directors or third-party service providers (collectively, “Sairyō and Sairyō Service
                Providers”) shall
                not be liable to you or any third party should Sairyō exercise this right.
                You represent and warrant that any information or materials you provide to Sairyō or post on its Website
                is accurate,
                truthful, not misleading, not confidential property of third parties, does not violate third party
                rights, and is
                offered in good faith. This includes, but is not limited to, information provided as part of any
                registration, to gain
                access to, or for use of any service offered on the Website. In addition you agree not to use the
                Website in connection
                with any of the following activities: a) sending and relaying spam, impersonating another person or
                entity, falsely
                misrepresenting your identity or your affiliations; b) for illegal or fraudulent purposes; c) for
                transmitting or
                distributing any objectionable material that is illegal, harassing, defamatory, tortuous, sexually
                explicit, obscene,
                hateful, or racist; or d) for transmitting material that contain computer programs including but not
                limited to viruses,
                Trojan horses, worms, time bombs, and cancel bots, which are designed to disrupt, destroy, harm, or
                damage the operation
                of the Website or computer. Sairyō reserves the right at any time, in its discretion, to remove any
                content or material
                provided or posted by you including, but not limited to, materials Sairyō deems to be in violation of
                these Terms of Use
                or the Sairyō Client Services Agreement.
            </p>
            <h6> 3. YOUR CONTENT AND CONDUCT</h6>
            <p>
                Hosting an Event
                If you have a Sairyō host account, you may be able to host online events on our website. You may use
                your content to
                promote your business or artistic enterprise. If you choose to host an event, you must not display
                content that does not
                comply with this Agreement (including the Sairyō Community Guidelines) or the law. For example, the
                content you submit
                must not include third-party intellectual property (such as copyrighted material) unless you have
                permission from that
                party or are otherwise legally entitled to do so. You are legally responsible for the content you
                promote on Sairyō. We
                may use automated systems that analyze your content to help detect infringement and abuse, such as spam,
                malware, and
                illegal content.
            </p>
            <p>
                Rights you Grant

                You retain ownership rights of events you hold and content you create. However, we do require you to
                grant certain
                rights to Sairyō and other users of the Service, as described below.
            </p>
            <p>
                License to Sairyō

                By hosting events on our platform, you grant to Sairyō a worldwide, non-exclusive, royalty-free,
                sublicensable and
                transferable license to use that Content (including to reproduce, distribute, prepare derivative works,
                display and
                perform it) in connection with the Service and Sairyō’s (and its successors' and Affiliates') business,
                including for
                the purpose of promoting and redistributing part or all of the Service.
            </p>
            <p>
                License to Other Users
                You also grant each other user of the Service a worldwide, non-exclusive, royalty-free license to access
                your Content
                through the Service, and to use that Content, including to reproduce, distribute, prepare derivative
                works, display, and
                perform it, only as enabled by a feature of the Service (such as video playback or embeds). For clarity,
                this license
                does not grant any rights or permissions for a user to make use of your Content independent of the
                Service.
            </p>
            <p>
                Duration of License
                The licenses granted by you continue for a commercially reasonable period of time after you remove or
                delete your
                Content from the Service. You understand and agree, however, that Sairyō may retain, but not display,
                distribute, or
                perform, server copies of your videos that have been removed or deleted.
            </p>
            <p>
                Removing Your Content
                You may remove your profile and content from Sairyō at any time. You must remove your content if you no
                longer have the
                rights required by these terms.
            </p>
            <p>
                Removal of Content by Sairyō

                If we reasonably believe that any content is in breach of this Agreement or may cause harm to Sairyō,
                our users, or
                third parties, we may remove or take down that content in our discretion. We will notify you with the
                reason for our
                action unless we reasonably believe that to do so: (a) would breach the law or the direction of a legal
                enforcement
                authority or would otherwise risk legal liability for Sairyō or our Affiliates; (b) would compromise an
                investigation or
                the integrity or operation of Sairyō; or (c) would cause harm to any user, other third party, Sairyō or
                our Affiliates.
            </p>
            <h6> 4. COOKIES</h6>
           
        </div>
    </div>
</div>
<app-main-footer></app-main-footer>