<div class="landing">
    <app-header></app-header>
    <div class="jumbotron baner"></div>  

    <div class="container-fluid faqbg ">
        <div class="row content">
          <div class="col-sm-3 minhight">
            <div class="ask">Ask a Question</div>
            <div>
                 <input class="asktext" type="text" placeholder="Name">
                </div>
                <div>
                    <input class="asktext" type="text" placeholder="Name">
                   </div>
                   <div >
                    <textarea class="asktext" type="text" placeholder="Question"></textarea>
                   </div>
                   <div class="textinfo">
                    We will notify you by email when the answer to your question has been posted.
                   </div>
                  
                   <button class="btnsubmit">Submit Question</button>
          </div>
      
          
          <div class="col-sm-9 minhight">            
                    <div class="faqtitle">Frequently Asked Questions</div>   
       
                    <div class="verticleline"></div>
                    <div class="horizontalline"></div>
                    <div class="faqtextplaceholder"><b class="qbold">Q:</b> <input type="text" class="qtext" placeholder="Type Question Here">  </div>
                    <input type="text" class="faqtextbox" placeholder="Type answer here">  
                    
                    <div class="verticleline"></div>
                    <div class="horizontalline"></div>
                    <div class="faqtextplaceholder"><b class="qbold">Q:</b> <input type="text" class="qtext" placeholder="Type Question Here">  </div>
                    <input type="text" class="faqtextbox" placeholder="Type answer here">   

                    <div class="verticleline"></div>
                    <div class="horizontalline"></div>
                    <div class="faqtextplaceholder"><b class="qbold">Q:</b> <input type="text" class="qtext" placeholder="Type Question Here">  </div>
                    <input type="text" class="faqtextbox" placeholder="Type answer here">    

                    <div class="verticleline"></div>
                    <div class="horizontalline"></div>
                    <div class="faqtextplaceholder"><b class="qbold">Q:</b> <input type="text" class="qtext" placeholder="Type Question Here">  </div>
                    <input type="text" class="faqtextbox" placeholder="Type answer here">  

                 
                    <div class="horizontalline"></div>
                    <div class="faqtextplaceholder"><b class="qbold">Q:</b> <input type="text" class="qtext" placeholder="Type Question Here">  </div>
                    <input type="text" class="faqtextbox" placeholder="Type answer here">   

            
                    <div class="horizontalline"></div>
                    <div class="faqtextplaceholder"><b class="qbold">Q:</b> <input type="text" class="qtext" placeholder="Type Question Here">  </div>
                    <input type="text" class="faqtextbox" placeholder="Type answer here">  

                
                    <div class="horizontalline"></div>
                    <div class="faqtextplaceholder"><b class="qbold">Q:</b> <input type="text" class="qtext" placeholder="Type Question Here">  </div>
                    <input type="text" class="faqtextbox" placeholder="Type answer here">    
          </div>
        </div>
      </div>      
</div>
<app-main-footer></app-main-footer>