<div class="landing">
<app-header></app-header>
<div class="jumbotron baner"></div>
  <div class="container containersection">    
    <div class="row">
      <div class="col-sm-12">

          <div class="about">About Us
              <img class="abouticon" src="../../../assets/images/footer.svg">
          </div>

          <div class="container">    
            <div class="row">
                <div class="aboutcontent">
                    /* Sairyō re-defines online experiences. The platform financially <span class="aboutconenthighlight"> supports artists and COVID-19 vaccine research </span>through artist livestreams.
                    We know that 2020 has been difficult start. Sairyō was created as an innovative new way to stream live talent and get paid as if you were in a live ‘gig’. 
                    We cater to a wide variety of artists. Anyone from musicians, DJs, dancers, comedians to at-home artists (Tik Tok) and more. 
                    Anyone is an artist and has something to provide via livestream. Join today to <span class="aboutconenthighlight">#restart </span> your 2020! */
                </div> 
            </div>
          </div>
            <div class="container">    
                <div class="row">
                  <div class="col-sm-4 minheight">
                       <img class="aboutimgone" src="../../../assets/images/aboutimg1.svg">
                       <button class="createevent">Creat an Event</button>
                  </div>
                  <div class="col-sm-4 minheight"> 
                    <img class="aboutimagetwo" src="../../../assets/images/aboutimg2.svg">
                    <button class="eventbtn">Browse an Event</button>
                  </div>
                  <div class="col-sm-4 minheight"> 
               <img class="aboutimagethree" src="../../../assets/images/aboutimg3.svg">
               <button class="donatebtn">Donate to COVID</button>
                  </div>
                </div>
              </div>

              
      </div>
    </div>
  </div>  
</div>
<app-main-footer></app-main-footer>