<div class="container">
    <div class="box row">
        <img src="../../assets/images/Rectangle 7.png" alt="">
    </div>


    <div class="row">
        <div class="col-md-3 col-sm-6" style="margin-top: 20px;">
            <h6 class="heading">Our Content</h6>
            <div class="small-img-box">
                <img src="../../assets/images/Rectangle 82.png" alt="">
            </div>
            <div>
                <h6 class="heading">Press Kit</h6>
                <p>
                    Our press kit include our company information, service fact sheet, logos, images and branding
                    guidelines.
                </p>
            </div>
            <div>
                <button mat-raised-button color="primary">Download Sairyo Press Kit</button>

            </div>
            <div>
                <h6 class="heading">Press Inquiries</h6>
                <div>
                    <mat-icon matSuffix>mail</mat-icon>
                    <h6>press@sairyoevents.com</h6>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-6" style="margin-top: 20px;">
            <h6 class="heading">News</h6>
            <p>
                Sairyō is a start-up based in Ottawa, Canada with the mission of helping artists monetize their talents
                online through
                livestreamed events while also raising money for COVID-19 relief. We cater to a wide variety of artists
                including
                musicians, DJ’s, dancers, comedians, chefs and many more. We believe anyone with a talent or skill can
                be an artist.
            </p>
            <p>
                Our event platform offers artists the opportunity to create free and paid online events. For all events,
                attendees have
                the option to donate to the World Health Organization’s COVID-19 Solidarity Fund. Additionally, artists
                can choose to
                donate a portion or all of their earnings towards the COVID-19 Solidarity Fund.
            </p>
            <p>
                Sairyō has team members all over the world helping us achieve our mission including Canada, Australia,
                Colombia, India
                and Lebanon. With a global reach, we hope to provide plenty of much-needed entertainment and financial
                relief to as many
                artists and communities as we can.
            </p>
            <p>
                Sairyō will be forever free for the artist. We do not take a cut of event earnings or donations and
                focus on helping
                others and raising funds for COVID-19 relief.
            </p>

        </div>
    </div>
</div>