<div class="side-nav">
    <div class="top-nav">
        <img src="../../../assets/images/Sairyo_logo/High-Resolution PNG/final5.png">
    </div>
    <div class="nav-icons">
        <span class="material-icons add">add</span>
        <span class="material-icons event">event_note</span>
        <span class="material-icons request-money">event_note</span>
    </div>
    <div class="bottom-nav">
        <img src="../../../assets/images/testImage.jpg">            
        <span class="material-icons settings">settings</span>
    </div>
</div>    
