.navbar {
  padding: 0px;
  color: grey;
  padding-right: 5px;
  background-color: #151414;
}

.navbar .navbar-brand {
  padding: 0px !important;
}

.navbar .mat-drawer-container {
  background-color: none !important;
}
.navbar a {
  color: grey;
}
.navbar a:hover {
  color: white;
}
.navbar .dropdown-menu a {
  color: grey;
}
.navbar .dropdown-menu a:hover {
  color: white;
}
.becomehost {
  padding-right: 10px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
*:focus {
  outline: 0;
}
.side-padding10 {
  padding: 0px 10px;
}
.menu-button {
  width: 71px;
  height: 71px;
  border-radius: 0px;
  background-color: #323632;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
// .row::after {
//   content: "";
//   clear: both;
//   display: table;
// }

::ng-deep .navbar .nav-search .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}
::ng-deep .navbar .nav-search .mat-form-field-label-wrapper {
  top: -1.5em;
}
::ng-deep .navbar .nav-search .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep
  .navbar
  .nav-search
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}

::ng-deep {
  @media only screen and(max-width:991px) {
    .navbarContent {
      max-width: 300px !important;
      margin-top: 152px;
      position: absolute !important;
      /* float: left; */
      z-index: 23;
      /* margin-left: auto; */
      // left: auto;
      right: 1px !important;
      background-color: #323632;
    }
    .navbar {
      padding-right: 0px;
    }
    .navbar-light .navbar-toggler {
      border-color: none !important;
    }
    .navbar {
      padding-right: 0px!important;
    }
  }
}
