<div class="landing">
    <div class="landing-header">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <span>Sairyo</span>
            </div>
            <div class="col-md-7">
                <a>for hosts</a>
            </div>
            <div class="top-right">
                <a [routerLink]="['/login']" routerLinkActive="router-link-active">Sign In</a>
                <button [routerLink]="['/signup']" routerLinkActive="router-link-active">Sign  Up Free</button>
            </div>
        </div>
    </div>
</div>
        <div class="main-page">
        <div class="container-fluid">
        <div class="row">
            <div class="text-justify col-md-4">
                <p style="color: #878787; text-transform: uppercase;">Fighting covid-19 together</p>
                <h1 style="color: #373F41;">Sairyo is built for artists</h1>
                <p style="color:#737B7D;">Your favourite artists live streaming using their social platform of choice. Sairyō allows you to support your favourite artists while helping to finding a cure for COVID-19.</p>
                <p style="color: #737B7D;">Art is about connecting with emotions. It’s personal and at the same time, universal. Get inspired by a whole new world of happiness today!</p>
                <div class="bottom-button">
                <button>Host Events For Free</button>
                </div>
            </div>
            <div class="col-md-8">
                <img src="../../../assets/images/landing_host.png">
            </div>
        </div>
        </div>
        </div>
</div>
