.landing{
  height: fit-content;
  background: #0d0d0d;
}
  
.box {
    // width: 100%;
  }
  .box img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
  }
  
  .left-align {
    text-align: left;
  }
  .column {
    float: left;
    width: 33%;
    padding: 10px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row button {
    margin-top: 10px;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .insider {
    padding: 0 30px 0 30px;
  }
  span.heading span {
    font-size: xx-large;
    color: green;
  }
  .heading {
    margin-top: 30px;
    font-size: x-large;
  }
  
  .head {
    margin-top: 50px;
    text-align: left;
  }
  
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  ::ng-deep{
  
    label.mat-form-field-label {
        color: #fff !important;
    }
    
    .mat-input-element {
        caret-color: #ffffff;
    }
    
    
    .mat-input-element {
        color: #fff !important;
    }
    
    .mat-form-field-label {
        color: rgb(255, 255, 255);
    }
     
    .mat-input-element::-webkit-input-placeholder { /* Edge */
      color: #969292;
    }
    
    .mat-input-element:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #969292;
    }
    
    .mat-input-element::placeholder {
      color: #969292;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: rgba(255, 255, 255, 0.42);
    }
    .mat-radio-outer-circle {
        border-color: white;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white;
    }
    .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
        background-color: #41b53f;
    }
    .mat-step-header .mat-step-icon {
        background-color: rgba(245, 245, 245, 0.54);
        color: black;
    }
    .mat-horizontal-stepper-header::before, .mat-horizontal-stepper-header::after, .mat-stepper-horizontal-line {
        border-top-color: rgb(247, 253, 251);
    }
    .mat-step-header .mat-step-label.mat-step-label-active {
        color: #41b53f;
        font-weight: 500;
    }
    body .ui-button {
        margin: 0;
        color: #ffffff;
        background-color: #41b53f; 
        border: 1px solid #1bc130;
    }
    body .ui-fileupload-choose:not(.ui-state-disabled):hover {
        background-color: #119027;
        color: #ffffff;
        border-color: #41b53f;
    }
    body .ui-button:enabled:hover {
        background-color: #119027;
        color: #ffffff;
        border-color: #41b53f;
    }
    body .ui-datepicker {
        padding: 0.857em;
        min-width: 20em;
        background-color: #000000;
        color: #f3e9e9;
        border: 1px solid #41b53f;
    }
    body .ui-datepicker:not(.ui-state-disabled) table td a:not(.ui-state-active):not(.ui-state-highlight):hover {
        background-color: #41b53f;
    }
    body .ui-datepicker table td.ui-datepicker-today > a.ui-state-active, body .ui-datepicker table td.ui-datepicker-today > span.ui-state-active {
        color: #ffffff;
        background-color: #119027;
    }
    body .ui-datepicker table td > a, body .ui-datepicker table td > span {
        color: white;
    }
    body .ui-datepicker .ui-datepicker-header {
        padding: 0.429em 0.857em 0.429em 0.857em;
        background-color: #0f5a0e;
        color: white;
        border-radius: 0;
    }
    .mat-dialog-container {
        padding: 0px!important; 
        overflow: visible!important;
    }
    .mat-header-cell {
        color: 41b53f;
    }
    .mat-cell, .mat-footer-cell {
        color: white;
    }
    .mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        border-bottom-color: rgba(17, 185, 61, 0.58);
    }
    .mat-header-cell {
        color: #41b53f
    } 
    .mat-table {
        background: black;
    }
    .mat-paginator {
        background: #41b53f;
    }
    .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
        background-color: rgba(173, 189, 177, 0.07);
    }
    .mat-badge-medium.mat-badge-after .mat-badge-content {
        right: 123px!important;
    }
    .mat-badge-medium.mat-badge-above .mat-badge-content {
        top: 0px!important;
    }
    .navbar-light .navbar-toggler {
        background-color: #41b53f;
        color: rgba(19, 236, 26, 0.98);
        border-color: rgba(71, 230, 69, 0.57);
    }
    }