<div class="landing">
    <app-header></app-header>
<div class="container">
    <div class="box row text-container">
        <img src="../../assets/images/SearchPage/RectangleBanner 16 .png" alt="">
            <div class="text">
                <h1>Music</h1>
            </div>
    </div>
    <div class="head insider">
        <span class="heading"> <span>Live</span> Now</span>
    </div>
    <div class="insider">
        <div class="row">
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 17.png" alt="Snow" style="width:100%">
                <div class="bottom-left">
                    <p>Psnfjksdh sdsdk fjsdfsd jfhkkjhsdh f sjkd fhjkhksd jf kdasdjh s fhjk hsdf f </p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 18.png" alt="Forest" style="width:100%">
                <div class="bottom-left">
                    <p>Ssjkdhfk sdhdskdf sdkskdfh jk fhkhjksd k skjdfh ksdfhkjhsd fsdfsdfh sdfk  sjdf  sj skdfdf</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 19.png" alt="Forest" style="width:100%">
                <div class="bottom-left">
                    <p>Tsdfh sdhfsjd f sdf hkjhs ksndf sl fhskdfh  sdj fhkjh ksdfjkh sf sjkdfh dfjh h</p>
                </div>
            </div>
        </div>
        <div class="head ">
            <span class="heading"> <h3>Browse Categories</h3></span>
        </div>

        <div class="row">
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 17-1.png" alt="Snow" style="width:100%">
                <div class="text">
                    <p>Music</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 18-1.png" alt="Forest" style="width:100%">
                <div class="text">
                    <p>Comedy</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 19-1.png" alt="Mountains" style="width:100%">
                <div class="text">
                    <p>Cooking</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 17-2.png" alt="Snow" style="width:100%">
                <div class="text">
                    <p>Fitness</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 18-2.png" alt="Forest" style="width:100%">
                <div class="text">
                    <p>Fashion & Beauty</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 19-2.png" alt="Mountains" style="width:100%">
                <div class="text">
                    <p>Gaming </p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 17-3.png" alt="Snow" style="width:100%">
                <div class="text">
                    <p>Dance</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 18-3.png" alt="Forest" style="width:100%">
                <div class="text">
                    <p>Party</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 19-3.png" alt="Mountains" style="width:100%">
                <div class="text">
                    <p>Art & Crafts</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 17-4.png" alt="Snow" style="width:100%">
                <div class="text">
                    <p>Kids</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 18-4.png" alt="Forest" style="width:100%">
                <div class="text">
                    <p>Faith</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 19-4.png" alt="Mountains" style="width:100%">
                <div class="text">
                    <p>Tastemakers</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 17-5.png" alt="Snow" style="width:100%">
                <div class="text">
                    <p>Reality</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 18-5.png" alt="Forest" style="width:100%">
                <div class="text">
                    <p>Quarantine life</p>
                </div>
            </div>
            <div class="column text-container">
                <img src="../../assets/images/SearchPage/Rectangle 19-5.png" alt="Mountains" style="width:100%">
                <div class="text">
                    <p>Other</p>
                </div>
            </div>

        </div>

    </div>
</div>
<app-main-footer></app-main-footer>
</div>